@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.page {
  &__header {
    @include flexContainer(flex, flex-start, flex-start, column);
    margin: 24px 123px 0 24px;
  }

  &__title {
    @include fontConfig($darkBlue, 32px, 45px);
    max-width: 173px;
    padding-bottom: 24px;
    text-align: left;

    @media all and (min-width: $tablet) {
      @include fontConfig(inherit, 56px, 72px);
      max-width: 680px;
    }
  }
}

.card-list__section {
  border-top: 1px solid $lightGrey;
  @media all and (min-width: $tablet) {
    @include flexContainer(flex, flex-end, flex-end, unset);
  }
}

.hidden__card-list {
  display: none;
}

.circle {
  @include boxSize(261px, 104px);
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: -10;
  @media all and (min-width: $tablet) {
    @include boxSize(350px, 680px);
    top: auto;
    bottom: 0;
    left: -153px;
  }
  @media all and (min-width: $desktop) {
    @include boxSize(488px, 937px);
    top: auto;
    bottom: 0;
    left: -237px;
  }
  &__back {
    @include boxSize(176px, 176px);
    @include backgroundConfig(url(../../img/mapa.png), no-repeat, center, cover);
    border-radius: 50%;
    @media all and (min-width: $tablet) {
      @include boxSize(479px, 479px);
    }
    @media all and (min-width: $desktop) {
      @include boxSize(679px, 679px);
    }
  }

  &__front {
    @include boxSize(184px, 184px);
    border-radius: 50%;
    background-color: $freeSalmon;
    position: absolute;
    top: 77px;
    left: 51px;
    @media all and (min-width: $tablet) {
      @include boxSize(612px, 612px);
      top: 225px;
      left: 115px;
    }
    @media all and (min-width: $desktop) {
      @include boxSize(812px, 812px);
      top: 310px;
      left: 193px;
    }
  }
}

