@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.event-card{
  &__container {
    @include flexContainer(flex, unset, unset, column);
    @include boxSize(246px, 272px);
    margin: 24px auto;
    text-align: left;
    box-shadow: 0 4px 12px 0 rgba(46, 55, 77, 0.16);
    @media all and (min-width: $tablet) {
        margin-top: 0 0 24px 0;
    }
    @media all and (min-width: $desktop) {
        width: 100%;
    }
  }

  &__img {
    @include boxSize(100%, 100%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__info-container{
    @include flexContainer(flex, center, unset, column);
    @include boxSize(50%, unset);
    background-color: $whiteGhost;
    padding:  0 24px 0 24px;
  }

  &__date {
    @include fontConfig($mediumGrey, 14px, 22px);
    margin-bottom: 4px;
  }

  &__name {
      @include fontConfig($darkBlue, 18px, 22px);
      letter-spacing: 0.5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
          color: $blueKing;
      }
  }

  &__place {
    @include fontConfig($mediumGrey, 14px, 22px);
    margin-top: 8px;
  }
}
