//FONTS
$font-primary: 'Roboto', sans-serif;

//COLOURS
$whiteGhost: #ffffff;
$lightGrey: #e6e5ec;
$freeSalmon: #f05537;
$coolOrange: #d1410c;
$mediumGrey: #6f7287;
$blueSea: #4b4d63;
$darkBlue: #1e0a3c;
$blueKing: #3659e3;
$blackSheep: #000000;
$coolGradient: #ffffff00;

// MEDIA QUERIES
$tablet: 770px ;
$desktop: 1400px;

