@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.purchase {
  @include boxSize(70px, 100%);
  @include flexContainer(flex, center, center, row);
  background-color: $darkBlue;
  padding: 24px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;

    ::after{
      content: "";
      @include boxSize(100px, 754px);
      display: block;
      position: fixed;
      bottom: 70px;
      left: 0;
      background-size: 100%;
      background: linear-gradient(top,$coolGradient 0,$whiteGhost 100%);
    }

    @media all and (min-width: $tablet) {
      @include flexContainer(flex, flex-end, center, row);
      padding: 27px 100px 29px 0;
    }

    &__btn-buy {
      @include fontConfig($whiteGhost, 14px, 1.4);
      background-color: $coolOrange;
      border-radius: 4px;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
}
